{{- if .Values.networkPolicies.create }}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ include "memgraph.fullname" . }}
  labels:
    {{- include "memgraph.labels" . | nindent 4 }}
spec:
  podSelector:
    matchLabels:
    {{- include "memgraph.selectorLabels" . | nindent 6 }}
  policyTypes:
    - Ingress
  ingress:
    - from:
      {{- if .Values.networkPolicies.allowSameNamespaceIngress }}
      - podSelector: {}
      {{- end }}
      {{- if .Values.networkPolicies.allowAllNamespaceIngress }}
      - namespaceSelector: {}
      {{- end }}
      ports:
      - port: bolt
      - port: platform
      {{- if and .Values.prometheus.enabled .Values.service.enableHttpMonitoring }}
      - port: http
      {{- end }}
    {{- if .Values.prometheus.enabled }}
    # Allow memgraph exporter to access memgraph HTTP monitoring port
    - from:
      - podSelector:
          matchLabels:
            {{- include "memgraphExporter.selectorLabels" . | nindent 12 }}
      ports:
      - port: http
    {{- end }}
{{- end }}
